/*--------------------------------------------------------------
# Common 
--------------------------------------------------------------*/
*{
    margin:0;
    padding:0;
}

html,body {
    background-color: #fff;
    color:#222;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# App Section 
--------------------------------------------------------------*/
.app-section{
    overflow: hidden;
    position: relative;
    padding:50px 0;
}

.app-section .app-wrapper{
    max-width: 100%;
    overflow: hidden;
    background: #eee;
    border-radius: 5px;
    padding:10px;
}

.app-section .app-wrapper .campain-banner{
    overflow: hidden;
    margin-bottom: 10px;
}

.app-section .app-wrapper .campain-banner img{
    width: 100%;
    border-radius: 5px;
}

.app-section .app-wrapper .service-slider-area{
    position: relative;
}

.app-section .app-wrapper .service-slider-area .service-promo{
    padding: 25px;
    border-radius: 5px;
    min-height: 165px;
}

.app-section .app-wrapper .service-slider-area .service-promo .service-promo-title{
    margin-bottom: 10px;
}

.app-section .app-wrapper .service-slider-area .service-promo .service-promo-desc {
    /* min-height: 40px; */
    margin-bottom: 20px;
}

.app-section .app-wrapper .service-slider-area .service-promo .service-promo-link a{
    color:inherit;
    border: 1px solid #eee;
    padding: 6px 14px;
    border-radius: 20px;
}

.app-section .app-wrapper .lav-calculator-area{
    background-color: #fff;
    border-radius: 5px;
    margin:10px 0;
}

.app-section .app-wrapper .lav-calculator-area img{
    width: 100%;
}
